<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC </title>
</head>

<body>
<h1>Список продуктов:</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Название</td>
        <td>Цена</td>
        <td>Операции</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="students" type="java.util.List<com.geekbrains.spring.mvc.model.Student>"*/-->
    <tr th:each="s : ${products}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.title}"></td>
        <td th:text="${s.cost}"></td>
        <td><a th:href="@{'/home/edit/' + ${s.id}}" >Редактировать</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">на Главную страницу</a>
</body>
</html>